In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from yaml import safe_load
from tqdm import tqdm

In [2]:
import os
os.getcwd()

'/Users/manpreet/Downloads'

In [3]:
filenames=[]
for file in os.listdir('Data Files/t20s'):
    filenames.append(os.path.join('Data Files/t20s',file))

In [4]:
filenames[0:5]

['Data Files/t20s/1475527.yaml',
 'Data Files/t20s/1398280.yaml',
 'Data Files/t20s/1359789.yaml',
 'Data Files/t20s/1505117.yaml',
 'Data Files/t20s/1173055.yaml']

In [5]:
rows = []

for file in tqdm(filenames):
    with open(file, "r") as f:
        data = safe_load(f)

    if isinstance(data, dict):
        rows.append(data)

final_df = pd.json_normalize(rows)

100%|██████████| 4802/4802 [06:17<00:00, 12.73it/s]

In [6]:
final_df.to_csv("T20s.csv")

In [7]:
final_df.head()

,innings,meta.data_version,meta.created,meta.revision,info.balls_per_over,info.city,info.dates,info.gender,info.match_type,info.match_type_number,...,info.registry.people.N Thailappan,info.registry.people.A Paramythioti,info.registry.people.L Ruane,info.registry.people.Riya Pradhan,info.registry.people.Mohamed Fadiga,info.registry.people.K Mtunduwatha,info.registry.people.MR Montfort,info.registry.people.W Jackson,info.registry.people.E Franco,info.registry.people.MAL Torres
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.92,2025-03-20,1,6,Kuala Lumpur,[2025-03-12],male,T20,3113.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.92,2024-07-24,1,6,London,[2024-07-13],female,T20,1955.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Bermuda', 'deliveri...",0.92,2023-03-01,1,6,Buenos Aires,[2023-02-28],male,T20,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Malaysia', 'deliver...",0.92,2025-10-07,1,6,Kuala Lumpur,[2025-10-07],female,T20,2528.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'West Indies', 'deli...",0.91,2020-03-01,1,6,Canberra,[2020-02-26],female,T20,853.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
final_df_copy=final_df.copy()

In [9]:
final_df_copy=final_df_copy[final_df_copy['info.outcome.winner'].isna()==False]

In [10]:
final_df_copy.head()

,innings,meta.data_version,meta.created,meta.revision,info.balls_per_over,info.city,info.dates,info.gender,info.match_type,info.match_type_number,...,info.registry.people.N Thailappan,info.registry.people.A Paramythioti,info.registry.people.L Ruane,info.registry.people.Riya Pradhan,info.registry.people.Mohamed Fadiga,info.registry.people.K Mtunduwatha,info.registry.people.MR Montfort,info.registry.people.W Jackson,info.registry.people.E Franco,info.registry.people.MAL Torres
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.92,2025-03-20,1,6,Kuala Lumpur,[2025-03-12],male,T20,3113.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.92,2024-07-24,1,6,London,[2024-07-13],female,T20,1955.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Bermuda', 'deliveri...",0.92,2023-03-01,1,6,Buenos Aires,[2023-02-28],male,T20,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Malaysia', 'deliver...",0.92,2025-10-07,1,6,Kuala Lumpur,[2025-10-07],female,T20,2528.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'West Indies', 'deli...",0.91,2020-03-01,1,6,Canberra,[2020-02-26],female,T20,853.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
final_df.iloc[0,0][0]

{'1st innings': {'team': 'Hong Kong',
  'deliveries': [{0.1: {'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'non_striker': 'Anshuman Rath',
     'batsman': 'Zeeshan Ali'}},
   {0.2: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {0.3: {'non_striker': 'Anshuman Rath',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {0.4: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {0.5: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 2, 'batsman': 2},
     'batsman': 'Anshuman Rath'}},
   {0.6: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {1.1: {'non_striker': 'Zeeshan Ali',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {1.2: {'non_striker': 'Zeeshan Ali',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 6, 'batsman': 6},
     'batsman': 'Anshuman Rath'}},
   {1.3: {'non_striker': 'Zeeshan Ali',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 1, 'total': 1, 'batsman': 0},
     'extras': {'wides': 1},
     'batsman': 'Anshuman Rath'}},
   {1.4: {'non_striker': 'Zeeshan Ali',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {1.5: {'non_striker': 'Zeeshan Ali',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {1.6: {'non_striker': 'Zeeshan Ali',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 2, 'batsman': 2},
     'batsman': 'Anshuman Rath'}},
   {1.7: {'non_striker': 'Zeeshan Ali',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {2.1: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 1, 'total': 1, 'batsman': 0},
     'extras': {'wides': 1},
     'batsman': 'Anshuman Rath'}},
   {2.2: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 4, 'batsman': 4},
     'batsman': 'Anshuman Rath'}},
   {2.3: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {2.4: {'non_striker': 'Anshuman Rath',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {2.5: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 4, 'batsman': 4},
     'batsman': 'Anshuman Rath'}},
   {2.6: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 2, 'batsman': 2},
     'batsman': 'Anshuman Rath'}},
   {2.7: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {3.1: {'non_striker': 'Anshuman Rath',
     'bowler': 'Muhammad Wafiq',
     'runs': {'extras': 1, 'total': 7, 'batsman': 6},
     'extras': {'noballs': 1},
     'batsman': 'Zeeshan Ali'}},
   {3.2: {'non_striker': 'Anshuman Rath',
     'bowler': 'Muhammad Wafiq',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Zeeshan Ali'}},
   {3.3: {'non_striker': 'Anshuman Rath',
     'bowler': 'Muhammad Wafiq',
     'runs': {'extras': 0, 'total': 4, 'batsman': 4},
     'batsman': 'Zeeshan Ali'}},
   {3.4: {'non_striker': 'Anshuman Rath',
     'bowler': 'Muhammad Wafiq',
     'runs': {'extras': 0, 'total': 4, 'batsman': 4},
     'batsman': 'Zeeshan Ali'}},
   {3.5: {'non_striker': 'Anshuman Rath',
     'bowler': 'Muhammad Wafiq',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Zeeshan Ali'}},
   {3.6: {'non_striker': 'Anshuman Rath',
     'bowler': 'Muhammad Wafiq',
     'runs': {'extras': 0, 'total': 6, 'batsman': 6},
     'batsman': 'Zeeshan Ali'}},
   {3.7: {'non_striker': 'Anshuman Rath',
     'bowler': 'Muhammad Wafiq',
     'runs': {'extras': 0, 'total': 4, 'batsman': 4},
     'batsman': 'Zeeshan Ali'}},
   {4.1: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {4.2: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 3, 'batsman': 3},
     'batsman': 'Anshuman Rath'}},
   {4.3: {'non_striker': 'Anshuman Rath',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {4.4: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {4.5: {'non_striker': 'Anshuman Rath',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {4.6: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {5.1: {'non_striker': 'Zeeshan Ali',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {5.2: {'non_striker': 'Anshuman Rath',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Zeeshan Ali'}},
   {5.3: {'non_striker': 'Anshuman Rath',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 2, 'batsman': 2},
     'batsman': 'Zeeshan Ali'}},
   {5.4: {'non_striker': 'Anshuman Rath',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {5.5: {'non_striker': 'Zeeshan Ali',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {5.6: {'non_striker': 'Anshuman Rath',
     'bowler': 'S Vijay Unni',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Zeeshan Ali'}},
   {6.1: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 2, 'batsman': 2},
     'batsman': 'Anshuman Rath'}},
   {6.2: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {6.3: {'non_striker': 'Anshuman Rath',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 1, 'total': 1, 'batsman': 0},
     'extras': {'wides': 1},
     'batsman': 'Zeeshan Ali'}},
   {6.4: {'non_striker': 'Anshuman Rath',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {6.5: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {6.6: {'non_striker': 'Anshuman Rath',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {6.7: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {7.1: {'non_striker': 'Anshuman Rath',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {7.2: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {7.3: {'non_striker': 'Anshuman Rath',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {7.4: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {7.5: {'non_striker': 'Anshuman Rath',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {7.6: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {8.1: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {8.2: {'non_striker': 'Anshuman Rath',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {8.3: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {8.4: {'non_striker': 'Anshuman Rath',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {8.5: {'non_striker': 'Zeeshan Ali',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {8.6: {'non_striker': 'Anshuman Rath',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Zeeshan Ali'}},
   {9.1: {'non_striker': 'Anshuman Rath',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Zeeshan Ali',
     'wicket': {'player_out': 'Zeeshan Ali', 'kind': 'bowled'}}},
   {9.2: {'non_striker': 'Anshuman Rath',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Nizakat Khan'}},
   {9.3: {'non_striker': 'Anshuman Rath',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Nizakat Khan'}},
   {9.4: {'non_striker': 'Nizakat Khan',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {9.5: {'non_striker': 'Anshuman Rath',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Nizakat Khan'}},
   {9.6: {'non_striker': 'Nizakat Khan',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {10.1: {'non_striker': 'Nizakat Khan',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 1, 'total': 1, 'batsman': 0},
     'extras': {'legbyes': 1},
     'batsman': 'Anshuman Rath'}},
   {10.2: {'non_striker': 'Anshuman Rath',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Nizakat Khan'}},
   {10.3: {'non_striker': 'Nizakat Khan',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {10.4: {'non_striker': 'Nizakat Khan',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {10.5: {'non_striker': 'Nizakat Khan',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {10.6: {'non_striker': 'Nizakat Khan',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {11.1: {'non_striker': 'Nizakat Khan',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 2, 'batsman': 2},
     'batsman': 'Anshuman Rath'}},
   {11.2: {'non_striker': 'Nizakat Khan',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {11.3: {'non_striker': 'Anshuman Rath',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 6, 'batsman': 6},
     'batsman': 'Nizakat Khan'}},
   {11.4: {'non_striker': 'Anshuman Rath',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 4, 'batsman': 4},
     'batsman': 'Nizakat Khan'}},
   {11.5: {'non_striker': 'Anshuman Rath',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Nizakat Khan'}},
   {11.6: {'non_striker': 'Nizakat Khan',
     'bowler': 'Ahmed Aqeel',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {12.1: {'non_striker': 'Nizakat Khan',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {12.2: {'non_striker': 'Anshuman Rath',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Nizakat Khan'}},
   {12.3: {'non_striker': 'Nizakat Khan',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {12.4: {'non_striker': 'Nizakat Khan',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {12.5: {'non_striker': 'Anshuman Rath',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Nizakat Khan'}},
   {12.6: {'non_striker': 'Nizakat Khan',
     'bowler': 'Khizar Hayat',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {13.1: {'non_striker': 'Nizakat Khan',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {13.2: {'non_striker': 'Anshuman Rath',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 6, 'batsman': 6},
     'batsman': 'Nizakat Khan'}},
   {13.3: {'non_striker': 'Anshuman Rath',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Nizakat Khan'}},
   {13.4: {'non_striker': 'Nizakat Khan',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {13.5: {'non_striker': 'Anshuman Rath',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Nizakat Khan',
     'wicket': {'player_out': 'Nizakat Khan',
      'fielders': ['Ainool Hafizs'],
      'kind': 'stumped'}}},
   {13.6: {'non_striker': 'Anshuman Rath',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Babar Hayat'}},
   {14.1: {'non_striker': 'Babar Hayat',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {14.2: {'non_striker': 'Anshuman Rath',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Babar Hayat'}},
   {14.3: {'non_striker': 'Anshuman Rath',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Babar Hayat'}},
   {14.4: {'non_striker': 'Babar Hayat',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 2, 'batsman': 2},
     'batsman': 'Anshuman Rath'}},
   {14.5: {'non_striker': 'Babar Hayat',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {14.6: {'non_striker': 'Anshuman Rath',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Babar Hayat'}},
   {15.1: {'non_striker': 'Anshuman Rath',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Babar Hayat'}},
   {15.2: {'non_striker': 'Babar Hayat',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 4, 'batsman': 4},
     'batsman': 'Anshuman Rath'}},
   {15.3: {'non_striker': 'Babar Hayat',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 1, 'total': 1, 'batsman': 0},
     'extras': {'wides': 1},
     'batsman': 'Anshuman Rath'}},
   {15.4: {'non_striker': 'Babar Hayat',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {15.5: {'non_striker': 'Babar Hayat',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 6, 'batsman': 6},
     'batsman': 'Anshuman Rath'}},
   {15.6: {'non_striker': 'Babar Hayat',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {15.7: {'non_striker': 'Anshuman Rath',
     'bowler': 'Pavandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Babar Hayat'}},
   {16.1: {'non_striker': 'Anshuman Rath',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Babar Hayat'}},
   {16.2: {'non_striker': 'Babar Hayat',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {16.3: {'non_striker': 'Anshuman Rath',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Babar Hayat'}},
   {16.4: {'non_striker': 'Anshuman Rath',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 6, 'batsman': 6},
     'batsman': 'Babar Hayat'}},
   {16.5: {'non_striker': 'Anshuman Rath',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Babar Hayat'}},
   {16.6: {'non_striker': 'Anshuman Rath',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 1, 'total': 1, 'batsman': 0},
     'extras': {'wides': 1},
     'batsman': 'Babar Hayat'}},
   {16.7: {'non_striker': 'Anshuman Rath',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Babar Hayat'}},
   {17.1: {'non_striker': 'Anshuman Rath',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Babar Hayat'}},
   {17.2: {'non_striker': 'Babar Hayat',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 0, 'batsman': 0},
     'batsman': 'Anshuman Rath'}},
   {17.3: {'non_striker': 'Babar Hayat',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 6, 'batsman': 6},
     'batsman': 'Anshuman Rath'}},
   {17.4: {'non_striker': 'Babar Hayat',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {17.5: {'non_striker': 'Anshuman Rath',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Babar Hayat'}},
   {17.6: {'non_striker': 'Babar Hayat',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 2, 'batsman': 2},
     'batsman': 'Anshuman Rath'}},
   {18.1: {'non_striker': 'Anshuman Rath',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Babar Hayat'}},
   {18.2: {'non_striker': 'Babar Hayat',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 4, 'batsman': 4},
     'batsman': 'Anshuman Rath'}},
   {18.3: {'non_striker': 'Babar Hayat',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Anshuman Rath'}},
   {18.4: {'non_striker': 'Anshuman Rath',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Babar Hayat'}},
   {18.5: {'non_striker': 'Babar Hayat',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 4, 'batsman': 4},
     'batsman': 'Anshuman Rath'}},
   {18.6: {'non_striker': 'Babar Hayat',
     'bowler': 'Virandeep Singh',
     'runs': {'extras': 0, 'total': 4, 'batsman': 4},
     'batsman': 'Anshuman Rath'}},
   {19.1: {'non_striker': 'Anshuman Rath',
     'bowler': 'Syed Aziz',
     'runs': {'extras': 0, 'total': 1, 'batsman': 1},
     'batsman': 'Babar Hayat'}},

In [12]:
bowling_team=[]
ball_of_match=[]
batsman=[]
bowler=[]
runs=[]
player_dismissed=[]
batting_team=[]
match_id=[]
city=[]
id=0
# final_df_copy.iloc[86][0][0]
for index,rows in final_df_copy.iterrows():
    id+=1 
    if id in[2976,3043,4028] :
        continue
    for delivery in rows[0][0]['1st innings']['deliveries']:
        ball=list(delivery.keys())[0]
        match_id.append(id)
        ball_of_match.append(ball)
        bowling_team.append(rows[0][1]['2nd innings']['team'])
        batsman.append(delivery[ball]['batsman'])
        bowler.append(delivery[ball]['bowler'])
        runs.append(delivery[ball]['runs']['total'])
        city.append(rows['info.city'])
        if 'wicket' in delivery[ball]:
            player_dismissed.append(delivery[ball]['wicket']['player_out'])
        else:
            player_dismissed.append(0)
        batting_team.append(rows[0][0]['1st innings']['team'])

delivery_df=pd.DataFrame({'match_id':match_id,
                                  'batting_team':batting_team,
                                  'bowling_team':bowling_team,
                                  'ball_of_match':ball_of_match,
                                  'batsman':batsman,
                                  'bowler':bowler,
                                  'runs':runs,
                                  'player_dismissed':player_dismissed,
                                  'city':city
                                  })

/var/folders/5s/snd_p2d11g9_yh5m48bd5dn40000gn/T/ipykernel_5674/4049014381.py:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  for delivery in rows[0][0]['1st innings']['deliveries']:
/var/folders/5s/snd_p2d11g9_yh5m48bd5dn40000gn/T/ipykernel_5674/4049014381.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  bowling_team.append(rows[0][1]['2nd innings']['team'])
/var/folders/5s/snd_p2d11g9_yh5m48bd5dn40000gn/T/ipykernel_5674/4049014381.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  batting_team.append(rows[0][0]['1st innings']['team'])

In [13]:
delivery_df['batting_team'].unique()

array(['Hong Kong', 'New Zealand', 'Bermuda', 'Malaysia', 'West Indies',
       'India', 'Nigeria', 'Eswatini', 'Rwanda', 'Qatar', 'Nepal',
       'Pakistan', 'Scotland', 'Oman', 'Malta', 'Bahrain', 'Canada',
       'Swaziland', 'England', 'South Africa', 'Mozambique', 'Argentina',
       'Bangladesh', 'Germany', 'Netherlands', 'Sri Lanka', 'South Korea',
       'Uganda', 'Thailand', 'Ghana', 'Portugal', 'Botswana', 'Cameroon',
       'Philippines', 'Japan', 'Zimbabwe', 'Isle of Man', 'Norway',
       'Czech Republic', 'Spain', 'Cyprus', 'Indonesia',
       'United Arab Emirates', 'Bhutan', 'Gibraltar', 'Tanzania', 'China',
       'France', 'Maldives', 'Jersey', 'Timor-Leste', 'Kenya', 'Slovenia',
       'Hungary', 'Samoa', 'Singapore', 'Belgium', 'Romania', 'Bahamas',
       'Australia', 'Kuwait', 'Denmark', 'Mali', 'Brazil', 'Barbados',
       'Ireland', 'Bulgaria', 'Fiji', 'Austria', 'Croatia', 'Switzerland',
       'Papua New Guinea', 'Italy', 'Saudi Arabia', 'Vanuatu', 'Panama',
       'Cambodia', 'Myanmar', 'Estonia', 'Sweden', 'Turkey', 'Luxembourg',
       'United States of America', 'Finland', 'Malawi', 'Namibia',
       'Ivory Coast', 'Sierra Leone', 'St Helena', 'Serbia', 'Lesotho',
       'Turks and Caicos Island', 'Guernsey', 'Greece', 'Seychelles',
       'Mexico', 'Gambia', 'Cayman Islands', 'Belize', 'Mongolia',
       'Cook Islands', 'Suriname', 'Costa Rica', 'Chile', 'Israel',
       'Iran'], dtype=object)

In [14]:
top_teams=['Sri Lanka','West Indies', 'India', 'Bangladesh','Australia', 'England', 'New Zealand','Pakistan', 'South Africa','Zimbabwe']

In [15]:
new_final_df=delivery_df[delivery_df['batting_team'].isin(top_teams)]

In [16]:
new_final_df.isnull().sum()

match_id                0
batting_team            0
bowling_team            0
ball_of_match           0
batsman                 0
bowler                  0
runs                    0
player_dismissed        0
city                17230
dtype: int64

In [17]:
new_final_df['batting_team'].value_counts()

batting_team
India           26042
Pakistan        24977
New Zealand     22487
Sri Lanka       21687
England         21184
South Africa    21125
West Indies     19348
Australia       19043
Bangladesh      16455
Zimbabwe        14814
Name: count, dtype: int64

In [18]:
new_final_df.head(10)

,match_id,batting_team,bowling_team,ball_of_match,batsman,bowler,runs,player_dismissed,city
126,2,New Zealand,England,0.1,SW Bates,NR Sciver-Brunt,2,0,London
127,2,New Zealand,England,0.2,SW Bates,NR Sciver-Brunt,0,0,London
128,2,New Zealand,England,0.3,SW Bates,NR Sciver-Brunt,2,0,London
129,2,New Zealand,England,0.4,SW Bates,NR Sciver-Brunt,0,0,London
130,2,New Zealand,England,0.5,SW Bates,NR Sciver-Brunt,0,0,London
131,2,New Zealand,England,0.6,SW Bates,NR Sciver-Brunt,0,0,London
132,2,New Zealand,England,1.1,GE Plimmer,LK Bell,1,0,London
133,2,New Zealand,England,1.2,SW Bates,LK Bell,0,0,London
134,2,New Zealand,England,1.3,SW Bates,LK Bell,2,0,London
135,2,New Zealand,England,1.4,SW Bates,LK Bell,1,0,London

In [19]:
new_final_df=new_final_df.dropna()

In [20]:
new_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 189932 entries, 126 to 571370
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          189932 non-null  int64
 1   batting_team      189932 non-null  object
 2   bowling_team      189932 non-null  object
 3   ball_of_match     189932 non-null  float64
 4   batsman           189932 non-null  object
 5   bowler            189932 non-null  object
 6   runs              189932 non-null  int64
 7   player_dismissed  189932 non-null  object
 8   city              189932 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 14.5+ MB

In [21]:
new_final_df['batting_team'].value_counts()

batting_team
India           24560
Pakistan        21511
South Africa    20330
New Zealand     20275
England         20072
Sri Lanka       19540
West Indies     18364
Australia       16109
Bangladesh      15839
Zimbabwe        13332
Name: count, dtype: int64

In [22]:
top_cities=new_final_df['city'].value_counts()[new_final_df['city'].value_counts()>240].index.tolist()

In [23]:
new_final_df=new_final_df[new_final_df['city'].isin(top_cities)]

In [24]:
new_final_df['runs'] = pd.to_numeric(new_final_df['runs'])
new_final_df['current_score']=new_final_df.groupby('match_id')['runs'].cumsum()

In [25]:
new_final_df.head(20)

,match_id,batting_team,bowling_team,ball_of_match,batsman,bowler,runs,player_dismissed,city,current_score
126,2,New Zealand,England,0.1,SW Bates,NR Sciver-Brunt,2,0,London,2
127,2,New Zealand,England,0.2,SW Bates,NR Sciver-Brunt,0,0,London,2
128,2,New Zealand,England,0.3,SW Bates,NR Sciver-Brunt,2,0,London,4
129,2,New Zealand,England,0.4,SW Bates,NR Sciver-Brunt,0,0,London,4
130,2,New Zealand,England,0.5,SW Bates,NR Sciver-Brunt,0,0,London,4
131,2,New Zealand,England,0.6,SW Bates,NR Sciver-Brunt,0,0,London,4
132,2,New Zealand,England,1.1,GE Plimmer,LK Bell,1,0,London,5
133,2,New Zealand,England,1.2,SW Bates,LK Bell,0,0,London,5
134,2,New Zealand,England,1.3,SW Bates,LK Bell,2,0,London,7
135,2,New Zealand,England,1.4,SW Bates,LK Bell,1,0,London,8
136,2,New Zealand,England,1.5,GE Plimmer,LK Bell,1,0,London,9
137,2,New Zealand,England,1.6,SW Bates,LK Bell,0,0,London,9
138,2,New Zealand,England,2.1,GE Plimmer,NR Sciver-Brunt,0,0,London,9
139,2,New Zealand,England,2.2,GE Plimmer,NR Sciver-Brunt,4,0,London,13
140,2,New Zealand,England,2.3,GE Plimmer,NR Sciver-Brunt,0,0,London,13
141,2,New Zealand,England,2.4,GE Plimmer,NR Sciver-Brunt,2,0,London,15
142,2,New Zealand,England,2.5,GE Plimmer,NR Sciver-Brunt,1,0,London,16
143,2,New Zealand,England,2.6,SW Bates,NR Sciver-Brunt,0,0,London,16
144,2,New Zealand,England,3.1,GE Plimmer,LK Bell,0,0,London,16
145,2,New Zealand,England,3.2,GE Plimmer,LK Bell,2,0,London,18

In [26]:
new_final_df['over']=new_final_df['ball_of_match'].apply(lambda x : str(x).split('.')[0])
new_final_df['ball_no.']=new_final_df['ball_of_match'].apply(lambda x : str(x).split('.')[1])
new_final_df['balls_bowled']=new_final_df['over'].astype(int)*6+new_final_df['ball_no.'].astype(int)
new_final_df['balls_left']=120-new_final_df['balls_bowled']
new_final_df['balls_left']=new_final_df['balls_left'].apply(lambda x:0 if x<0 else x)

In [27]:
new_final_df.tail(20)

,match_id,batting_team,bowling_team,ball_of_match,batsman,bowler,runs,player_dismissed,city,current_score,over,ball_no.,balls_bowled,balls_left
571351,4654,South Africa,England,16.6,T Brits,KH Sciver-Brunt,2,0,Cape Town,135,16,6,102,18
571352,4654,South Africa,England,17.1,M Kapp,LK Bell,1,0,Cape Town,136,17,1,103,17
571353,4654,South Africa,England,17.2,T Brits,LK Bell,1,0,Cape Town,137,17,2,104,16
571354,4654,South Africa,England,17.3,M Kapp,LK Bell,1,0,Cape Town,138,17,3,105,15
571355,4654,South Africa,England,17.4,T Brits,LK Bell,4,0,Cape Town,142,17,4,106,14
571356,4654,South Africa,England,17.5,T Brits,LK Bell,0,T Brits,Cape Town,142,17,5,107,13
571357,4654,South Africa,England,17.6,CL Tryon,LK Bell,1,0,Cape Town,143,17,6,108,12
571358,4654,South Africa,England,18.1,CL Tryon,S Ecclestone,2,0,Cape Town,145,18,1,109,11
571359,4654,South Africa,England,18.2,CL Tryon,S Ecclestone,0,CL Tryon,Cape Town,145,18,2,110,10
571360,4654,South Africa,England,18.3,N de Klerk,S Ecclestone,0,0,Cape Town,145,18,3,111,9
571361,4654,South Africa,England,18.4,N de Klerk,S Ecclestone,0,N de Klerk,Cape Town,145,18,4,112,8
571362,4654,South Africa,England,18.5,S Luus,S Ecclestone,0,0,Cape Town,145,18,5,113,7
571363,4654,South Africa,England,18.6,S Luus,S Ecclestone,1,0,Cape Town,146,18,6,114,6
571364,4654,South Africa,England,19.1,S Luus,KH Sciver-Brunt,1,0,Cape Town,147,19,1,115,5
571365,4654,South Africa,England,19.2,M Kapp,KH Sciver-Brunt,5,0,Cape Town,152,19,2,116,4
571366,4654,South Africa,England,19.3,M Kapp,KH Sciver-Brunt,2,0,Cape Town,154,19,3,117,3
571367,4654,South Africa,England,19.4,M Kapp,KH Sciver-Brunt,1,0,Cape Town,155,19,4,118,2
571368,4654,South Africa,England,19.5,S Luus,KH Sciver-Brunt,1,0,Cape Town,156,19,5,119,1
571369,4654,South Africa,England,19.6,M Kapp,KH Sciver-Brunt,4,0,Cape Town,160,19,6,120,0
571370,4654,South Africa,England,19.7,M Kapp,KH Sciver-Brunt,4,0,Cape Town,164,19,7,121,0

In [28]:
new_final_df['player_dismissed']=new_final_df['player_dismissed'].apply(lambda x: 0 if x==0 else 1)

In [29]:
new_final_df['wickets_left']=10-new_final_df.groupby('match_id')['player_dismissed'].cumsum()

In [30]:
new_final_df['crr']=(new_final_df['current_score']*6)/new_final_df['balls_bowled']

In [36]:
groups=new_final_df.groupby('match_id')
match_ids=new_final_df['match_id'].unique()
last_five=[]
for id in match_ids:
    last_five.extend(groups.get_group(id)['runs'].rolling(window=30).sum())
new_final_df['last_five'] = last_five

In [39]:
new_final_df = new_final_df.groupby('match_id').sum()['runs'].reset_index().merge(new_final_df,on='match_id')

In [40]:
new_final_df=new_final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]
new_final_df.dropna(inplace=True)
new_final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [49]:
new_final_df.rename(columns={'runs_x':'final_score'},inplace=True)

In [50]:
new_final_df.head(10)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,final_score
29,New Zealand,England,London,29,90,10,5.800000,29.0,103
30,New Zealand,England,London,30,89,10,5.806452,28.0,103
31,New Zealand,England,London,30,88,10,5.625000,28.0,103
32,New Zealand,England,London,30,87,10,5.454545,26.0,103
33,New Zealand,England,London,31,86,10,5.470588,27.0,103
34,New Zealand,England,London,32,85,10,5.485714,28.0,103
35,New Zealand,England,London,33,84,10,5.500000,29.0,103
36,New Zealand,England,London,33,83,9,5.351351,28.0,103
37,New Zealand,England,London,33,82,9,5.210526,28.0,103
38,New Zealand,England,London,33,81,8,5.076923,26.0,103

In [52]:
required_df = new_final_df.sample(new_final_df.shape[0])

In [53]:
required_df.head(10)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,final_score
178133,England,West Indies,Southampton,149,53,9,13.343284,65.0,248
81835,India,West Indies,Lauderhill,91,60,9,9.100000,47.0,188
130693,Australia,England,Derby,51,87,10,9.272727,47.0,151
21134,Pakistan,England,Cardiff,36,88,8,6.750000,33.0,173
187031,West Indies,Uganda,Providence,153,9,5,8.270270,37.0,173
166993,West Indies,Sri Lanka,Kandy,90,60,9,9.000000,52.0,196
110969,West Indies,India,Mirpur,53,51,9,4.608696,20.0,129
54540,Pakistan,Bangladesh,Mirpur,102,16,5,5.884615,54.0,129
13286,West Indies,England,Bristol,141,18,6,8.294118,48.0,196
134970,Australia,New Zealand,Mount Maunganui,177,11,7,9.743119,51.0,204

In [56]:
X = required_df.drop(columns=['final_score'])
y = required_df['final_score']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [57]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/xgboost/compat.py:105: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources

In [59]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [60]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [61]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9894259572029114
1.912092924118042

In [63]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))